@charset "utf-8";

@media (min-width:1200px) {

	#slider {
		background-image: url(../img/slide.png);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100vh;
	}

	.slider_text {
		width: 800px;
		padding: 350px 0 0 150px;
	}

	#slider h6 {
		font-size: 23px;
		color: #fff;
	}

	#slider h1 {
		font-size: 75px;
		padding: 20px 0 30px 0;
		line-height: 95px;
		color: #fff;
	}

	#slider hr {
		width: 45px;
		height: 10px;
		background-color: #fff;
		border: 0;
	}

	#slider p {
		font-size: 20px;
		padding: 30px 0 0 0;
		color: #fff;
		width: 85%;
	}

	#score {
		background-color: #2b1440;
		width: 100%;
		height: 350px;
		margin: 0 auto;
		text-align: center;
		color: #fff;
	}

	#score > p {
		padding: 54px 0 10px 0;
		margin: 0 60px 0 0;
	}

	#score > h3 {
		padding: 10px;
		font-size: 34px;
		margin: 0 60px 0 0;
	}

	.scoretext {
		display: inline-block;
	}

	.scoretext > h1 {
		font-size: 75px;
		margin: 0 20px;
	}

	.scoretext > h6 {
		font-size: 16px;
		margin: 0 60px;
	}

	#artist {
		width: 1200px;
		height: 1200px;
		margin: 80px auto 50px;
	}

	#artist > h6 {
		font-size: 15px;
		font-weight: bold;
	}

	#artist > h1 {
		font-size: 40px;
		margin: 15px 0 20px 0;
	}

	#artist > hr {
		width: 35px;
		height: 5px;
		background-color: #000;
		border: 0;
	}

	#artist img {
		width: 320px;
		height: 320px;
		cursor: pointer;
	}

	#artist p {
		font-size: 16px;
		color: #a5a5a5;
		margin: 10px 0 4px 0;
	}

	#artist h3 {
		font-size: 20px;
	}

	#artist1 {
		width: 1200px;
		height: 1200px;
		margin: 50px auto 50px;
	}

	.box1 {
		transition: all 0.2s ease;
		display: flex;
		flex-wrap: wrap;
	}

	#artistbox1 {
		width: 320px;
		height: 320px;
		position: relative;
		float: left;
		background-color: antiquewhite;
		top: 5%;
	}

	#artistbox1 .box1 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 11%;
	}

	#artistbox1 .box2 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 0%;
	}

	#artistbox1:hover .box1 {
		transform: translateX(25px);
	}

	#artistbox2 {
		width: 320px;
		height: 320px;
		position: relative;
		float: left;
		background-color: darkgray;
		top: 15%;
		left: 8.5%;
	}

	#artistbox2 .box1 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 11%;
	}

	#artistbox2 .box2 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 0%;
	}

	#artistbox2:hover .box1 {
		transform: translateX(25px);
	}

	#artistbox3 {
		width: 320px;
		height: 320px;
		position: relative;
		float: left;
		background-color: darkorchid;
		top: 0%;
		left: 17%;
	}

	#artistbox3 .box1 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 11%;
	}

	#artistbox3 .box2 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 0%;
	}

	#artistbox3:hover .box1 {
		transform: translateX(25px);
	}

	#artistbox4 {
		width: 320px;
		height: 320px;
		position: relative;
		background-color: salmon;
		top: 48%;
		left: 0%;
	}

	#artistbox4 .box1 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 11%;
	}

	#artistbox4 .box2 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 0%;
	}

	#artistbox4:hover .box1 {
		transform: translateX(25px);
	}

	#artistbox5 {
		width: 320px;
		height: 320px;
		position: relative;
		float: left;
		background-color: darkseagreen;
		top: 29%;
		left: 35%;
	}

	#artistbox5 .box1 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 11%;
	}

	#artistbox5 .box2 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 0%;
	}

	#artistbox5:hover .box1 {
		transform: translateX(25px);
	}

	#artistbox6 {
		width: 320px;
		height: 320px;
		position: relative;
		float: left;
		background-color: paleturquoise;
		top: 15%;
		left: 43.9%;
	}

	#artistbox6 .box1 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 11%;
	}

	#artistbox6 .box2 {
		width: 320px;
		height: 320px;
		position: absolute;
		top: 0%;
		left: 0%;
	}

	#artistbox6:hover .box1 {
		transform: translateX(25px);
	}

	#banner {
		width: 100%;
		height: 500px;
		background-image: url("../img/banner.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 0 0 100px 0;
	}

	.bannerbox {
		width: 1200px;
		height: 200px;
		margin: 0 auto;
		padding: 130px 0;
	}

	.bannerbox h6 {
		font-size: 20px;
		color: #fff;
	}

	.bannerbox h1 {
		font-size: 50px;
		padding: 10px 0 30px 0;
		color: #fff;
	}

	.bannerbox hr {
		width: 37px;
		height: 7px;
		background-color: #fff;
		border: 0;
		margin: 0 0 60px 0;
	}

	.bannerbox span {
		padding: 16px 52px 18px;
		background-color: #fff;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		border: #fdfdfd solid 2px;
	}

	.bannerbox span:hover {
		background: none;
		color: #fff;
	}

	#album {
		width: 1200px;
		height: 650px;
		margin: 0 auto;
	}

	#album > p {
		font-size: 15px;
		font-weight: bold;
	}

	#album > h1 {
		font-size: 40px;
		margin: 15px 0 20px 0;
	}

	#album > hr {
		width: 35px;
		height: 5px;
		background-color: #000;
		border: 0;
	}

	.albumshadow {
		width: 350px;
		height: 340px;
		display: inline-block;
		margin: 60px 0 0 0;
		box-shadow: 0 15px 15px -4px rgb(0, 0, 0, 0.15);
		border-radius: 50px;
	}

	.albumshadow:nth-last-of-type(2) {
		margin: 0 59px;
	}

	.albumbox {
		width: 350px;
		height: 340px;
		display: inline-block;
		overflow: hidden;
		position: relative;
		cursor: pointer;
	}

	.albumbox a {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.5s ease;
	}

	.albumbox .albumtext > p {
		margin: 100px 0 0 0;
		position: absolute;
		top: 47%;
		left: 7.5%;
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255, 0);
		font-size: 20px;
	}

	.albumbox .albumtext > h1 {
		color: #fff;
		margin: 100px 0 0 0;
		font-weight: bold;
		position: absolute;
		top: 55%;
		left: 7.5%;
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255, 0);
		font-size: 30px;
	}

	.albumbox a:hover {
		background-color: rgb(21, 21, 21, 0.81);
	}

	.albumbox a:hover p {
		color: #c3c3c3;
		transition: all 0.3s ease;
		margin: 70px 0 0 0;
	}

	.albumbox a:hover h1 {
		color: #fff;
		transition: all 0.3s ease;
		margin: 70px 0 0 0;
	}

	.albumbox img {
		width: 350px;
		height: 340px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	#ticket {
		width: 1200px;
		height: 600px;
		margin: 0 auto;
		text-align: center;
	}

	#ticket p {
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}

	#ticket h1 {
		font-size: 40px;
		margin: 15px 0 20px 0;
		text-align: left;
	}

	#ticket > hr {
		width: 35px;
		height: 5px;
		background-color: #000;
		border: 0;
		margin: 0 0 10px 0;
	}

	#ticket span {
		font-size: 17px;
	}

	#ticket table {
		width: 1000px;
		height: 500px;
		text-align: center;
		margin: 0 auto;
		border-collapse: collapse;
	}

	#ticket table tr {
		border-bottom: 1px solid #eee;
	}

	#ticket table td:nth-of-type(1) {
		font-size: 50px;
		font-weight: bold;
		width: 5%;
	}

	#ticket table td:nth-of-type(2) {
		font-size: 20px;
		width: 15%;
	}

	#ticket table td:nth-of-type(3) {
		font-size: 20px;
		font-weight: bold;
		width: 30%;
		text-align: left;
	}

	#ticket table td:nth-of-type(4) {
		font-size: 15px;
		font-weight: bold;
		width: 40%;
		text-align: right;
	}

	#ticket table tr:hover {
		background-color: #eee;
	}

	.buy {
		cursor: pointer;
	}

	.buy:hover {
		opacity: 0.6;
	}

	#ticket button {
		width: 170px;
		height: 50px;
		border: 0;
		background-color: #2a0c2a;
		color: #fff;
		margin: 80px auto;
		text-align: center;
		font-size: 14px;
		cursor: pointer;
	}

	#photo {
		width: 100%;
		height: 740px;
		margin: 240px auto 0;
		position: relative;
		font-size: 0;
		overflow: hidden;
	}

	.photobox1 {
		width: 50%;
		height: 380px;
		background: linear-gradient(to right, #f5dada, #d888c8);
		position: absolute;
		top: 0%;
		left: 0%;
		overflow: hidden;
	}

	.photobox1 img {
		width: 50%;
		height: 370px;
		position: absolute;
		top: 0%;
		right: 2%;
		transition: all 0.5s;
	}

	.photobox1 h2 {
		color: #3d1853;
		font-size: 40px;
		padding: 90px 0 0 60px;
	}

	.photobox1 p {
		color: #3d1853;
		font-size: 16px;
		padding: 10px 0 0 60px;
	}

	.photobox1 h6 {
		color: #3d1853;
		font-size: 18px;
		margin: 80px 0 0 60px;
	}

	.photobox1 h6:hover {
		opacity: 0.7;
	}

	.photobox2 {
		width: 50%;
		height: 380px;
		position: absolute;
		top: 0%;
		right: 0%;
		overflow: hidden;
	}

	.photomini1 {
		background-image: url(../img/gif.gif);
		width: 50%;
		height: 380px;
		background-size: cover;
		background-position: center;
		float: left;
	}

	.photomini2 {
		background-image: url(../img/photobox2.jpg);
		background-size: cover;
		background-position: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		width: 50%;
		height: 380px;
		float: left;
	}

	.photomini2 a {
		float: left;
		width: 100%;
		height: 100%;
		background-color: rgb(21, 21, 21, 0.81);
		opacity: 0;
		transition: all 0.5s ease;
	}

	.phototext1 h1 {
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		position: absolute;
		top: 34%;
		left: 18%;
		width: 100%;
	}

	.phototext1 p {
		color: #bbb;
		margin: 0 0 0 0;
		font-size: 17px;
		position: absolute;
		top: 48%;
		left: 18%;
		display: inline-block;
		width: 270px;
	}

	.photomini2 a:hover {
		opacity: 1;
	}

	.photobox3 {
		width: 50%;
		height: 380px;
		position: absolute;
		top: 50%;
		left: 0%;
	}

	.photomini3 {
		background-image: url(../img/photobox4.jpg);
		background-size: cover;
		background-position: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		width: 50%;
		height: 380px;
		float: left;
	}

	.photomini3 a {
		float: left;
		width: 100%;
		height: 100%;
		background-color: rgb(21, 21, 21, 0.81);
		opacity: 0;
		transition: all 0.5s ease;
	}

	.phototext2 h1 {
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		position: absolute;
		top: 34%;
		left: 16%;
		width: 100%;
	}

	.phototext2 p {
		color: #bbb;
		margin: 0 0 0 0;
		font-size: 17px;
		position: absolute;
		top: 48%;
		left: 16%;
		display: inline-block;
		width: 270px;
	}

	.photomini3 a:hover {
		opacity: 1;
	}

	.photomini4 {
		background-image: url(../img/photobox3.jpg);
		background-size: cover;
		background-position: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		width: 50%;
		height: 380px;
		float: left;
	}

	.photomini4 a {
		float: left;
		width: 100%;
		height: 100%;
		background-color: rgb(21, 21, 21, 0.81);
		opacity: 0;
		transition: all 0.5s ease;
	}

	.phototext3 h1 {
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		position: absolute;
		top: 34%;
		left: 16%;
		width: 100%;
	}

	.phototext3 p {
		color: #bbb;
		margin: 0 0 0 0;
		font-size: 17px;
		position: absolute;
		top: 48%;
		left: 16%;
		display: inline-block;
		width: 270px;
	}

	.photomini4 a:hover {
		opacity: 1;
	}

	.photobox4 {
		width: 50%;
		height: 380px;
		background-color: #facece;
		position: absolute;
		top: 50%;
		right: 0%;
		overflow: hidden;
		cursor: pointer;
	}

	.photobox4 img {
		width: 60%;
		height: 260px;
		position: absolute;
		top: 15%;
		right: 0%;
		transition: all 0.5s;
	}

	.photobox4 h2 {
		color: #3d1853;
		font-size: 40px;
		padding: 90px 0 0 50px;
	}

	.photobox4 p {
		color: #3d1853;
		font-size: 16px;
		padding: 10px 0 0 50px;
		width: 280px;
	}

	.photobox4 h6 {
		color: #3d1853;
		font-size: 18px;
		margin: 80px 0 0 50px;
	}

	.photobox4 h6:hover {
		opacity: 0.7;
	}

	#blogpost {
		width: 1200px;
		height: 1460px;
		margin: 100px auto 0;
		position: relative;
	}

	#blogpost > h6 {
		font-size: 15px;
		font-weight: bold;
	}

	#blogpost > h1 {
		font-size: 40px;
		margin: 15px 0 20px 0;
	}

	#blogpost > hr {
		width: 35px;
		height: 5px;
		background-color: #000;
		border: 0;
	}

	#blogpost p {
		font-size: 14px;
		color: #666;
		margin: 20px 0 0 25px;
	}

	#blogpost h4 {
		font-size: 18px;
		margin: 10px 0 0 25px;
	}

	#blogpost .post1 {
		background-image: url(../img/blog1.png);
		background-position: center;
		background-size: cover;
		width: 340px;
		height: 340px;
		display: inline-block;
		position: absolute;
		top: 11%;
		left: 0%;
		border-radius: 200px;
	}

	#blogpost .post1 .blur1 {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.post1 .blur1 .postplay1 {
		position: absolute;
		background-color: rgb(255, 255, 255, 0.29);
		width: 28%;
		height: 28%;
		top: 37%;
		left: 37%;
		border-radius: 50%;
		text-align: center;
		transition: all 0.5s;
		cursor: pointer;
	}

	.blur1 .postplay1 > span {
		color: #fff;
		font-size: 55px;
		margin: 23px 20px;
	}

	.post1 .blur1 .postplay1:hover {
		transform: scale(1.07);
	}

	#blogpost .post2 {
		width: 340px;
		height: 490px;
		background-color: #fff;
		position: absolute;
		top: 9.6%;
		left: 36%;
		margin: 20px 5px 0 0;
		box-shadow: 5px 5px 20px rgb(240, 174, 189, 0.5);
		overflow: hidden;
		border-radius: 5px;
	}

	#blogpost .post2 .postimg1 {
		width: 100%;
		height: 320px;
		overflow: hidden;
	}

	#blogpost .post2 img {
		width: 100%;
		height: 100%;
		transform: scale(1.05);
		transition: all 0.5s;
	}

	#blogpost .post2 img:hover {
		transform: scale(1);
	}

	#blogpost .post3 {
		width: 340px;
		height: 380px;
		background-color: #fff;
		position: absolute;
		top: 11%;
		right: 0%;
		box-shadow: 5px 5px 20px rgb(240, 174, 189, 0.5);
		border-radius: 5px;
		overflow: hidden;
		border-radius: 5px;
	}

	#blogpost .post3 .postimg2 {
		width: 340px;
		height: 215px;
		overflow: hidden;
	}

	#blogpost .post3 img {
		width: 100%;
		height: 100%;
		transform: scale(1.05);
		transition: all 0.5s;
	}

	#blogpost .post3 img:hover {
		transform: scale(1);
	}

	#blogpost .post4 {
		width: 340px;
		height: 390px;
		background-color: #fff;
		position: absolute;
		top: 40%;
		left: 0%;
		box-shadow: 5px 5px 20px rgb(240, 174, 189, 0.5);
		overflow: hidden;
		border-radius: 5px;
	}

	#blogpost .post4 .postimg3 {
		width: 340px;
		height: 215px;
		overflow: hidden;
	}

	#blogpost .post4 img {
		width: 100%;
		height: 100%;
		transform: scale(1.05);
		transition: all 0.5s;
	}

	#blogpost .post4 img:hover {
		transform: scale(1);
	}

	#blogpost .post5 {
		width: 340px;
		height: 400px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 36%;
		box-shadow: 5px 5px 20px rgb(240, 174, 189, 0.5);
		overflow: hidden;
		border-radius: 5px;
	}

	#blogpost .post5 .postimg4 {
		width: 100%;
		height: 230px;
		overflow: hidden;
	}

	#blogpost .post5 img {
		width: 100%;
		height: 100%;
		transform: scale(1.05);
		transition: all 0.5s;
	}

	#blogpost .post5 img:hover {
		transform: scale(1);
	}

	#blogpost .post6 {
		background-image: url("../img/blog5.jpg");
		background-size: cover;
		background-position: center;
		width: 340px;
		height: 340px;
		position: absolute;
		top: 43%;
		right: 0%;
		box-shadow: 5px 5px 20px rgb(240, 174, 189, 0.5);
	}

	#blogpost .post6 p {
		font-size: 14px;
		color: #666;
		margin: 20px 0 0 30px;
	}

	#blogpost .post6 h4 {
		font-size: 18px;
		margin: 110px 0 0 30px;
		width: 270px;
	}

	#blogpost .post7 {
		width: 340px;
		height: 350px;
		position: absolute;
		top: 72%;
		left: 0%;
		background-image: url(../img/post4.jpg);
		background-position: center;
		background-size: cover;
	}

	.posticon {
		display: inline-block;
		margin: 5px;
	}

	.posticon > i {
		color: red;
		font-size: 50px;
		cursor: pointer;
	}

	.posticon > i:hover {
		color: #e00c0c;
	}

	.posttext2 {
		display: inline-block;
	}

	.posttext2 > h5 {
		background-color: rgb(51, 51, 51, 0.79);
		color: #fff;
		font-size: 13px;
		padding: 2px 4px;
		cursor: pointer;
	}

	.posttext2 > h6 {
		background-color: rgb(51, 51, 51, 0.79);
		color: #fff;
		margin: 0 0 2px 0;
		padding: 2px 4px;
		width: 47px;
		cursor: pointer;
	}

	.posttext2 > h6:hover {
		color: #888;
	}

	.posttext2 > h5:hover {
		color: #888;
	}

	#blogpost .post8 {
		width: 340px;
		height: 340px;
		position: absolute;
		top: 71%;
		right: 0%;
		border-radius: 200px;
		background-image: url(../img/blog7.png);
		background-position: center;
		background-size: cover;
	}

	#blogpost .post8 .blur3 {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.post8 .blur3 .postplay2 {
		position: absolute;
		background-color: rgb(255, 255, 255, 0.29);
		width: 28%;
		height: 28%;
		top: 37%;
		left: 37%;
		border-radius: 50%;
		text-align: center;
		transition: all 0.5s;
		cursor: pointer;
	}

	.blur3 .postplay2 > span {
		color: #fff;
		font-size: 55px;
		margin: 23px 20px;
	}

	.post8 .blur3 .postplay2:hover {
		transform: scale(1.07);
	}

	#news {
		width: 100%;
		height: 400px;
		margin: 60px auto 0;
		background: linear-gradient(to right, #f5dada, #c16db0);
	}

	.newstext {
		width: 1200px;
		height: 200px;
		margin: 0 auto;
		padding: 100px 0;
		display: flex;
	}

	.newstext1 {
		width: 500px;
	}

	.newstext2 {
		width: 700px;
		height: 80px;
		margin: 70px 0 60px;
	}

	.newstext1 > hr {
		width: 70px;
		height: 7px;
		background-color: #3e1c48;
		border: 0;
		margin: 25px 0 15px 0;
	}

	.newstext1 > h1 {
		font-size: 47px;
		color: #3e1c48;
	}

	.newstext2 > p {
		font-size: 15px;
		padding: 30px 0 10px 0;
		color: #3e1c48;
	}

	.newstext2 > input {
		width: 450px;
		height: 50px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		float: left;
		font-size: 18px;
	}

	.newstext2 > span {
		width: 150px;
		background-color: #fff;
		font-size: 17px;
		color: #3e1c48;
		cursor: pointer;
		padding: 11px 50px 15px;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		border-radius: 50px;
		line-height: 45px;
		margin: 0 0 0 30px;
	}

	.newstext span:hover {
		background: #3e1c48;
		color: #fff;
	}

	#merch {
		width: 1200px;
		height: 1000px;
		margin: 100px auto 0;
	}

	#merch > h6 {
		font-size: 15px;
		font-weight: bold;
	}

	#merch > h1 {
		font-size: 40px;
		margin: 15px 0 20px 0;
	}

	#merch > hr {
		width: 35px;
		height: 5px;
		background-color: #000;
		border: 0;
	}

	#merch1 {
		width: 1200px;
		height: 250px;
		margin: 50px auto 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.merchbox {
		width: 285px;
		height: 285px;
		cursor: pointer;
		margin: 0 0 10px 0;
		position: relative;
		overflow: hidden;
	}

	.merchbox img {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 10;
		transition: all 0.4s ease-in-out;
		transform: scale(1);
	}

	.merchtext {
		width: 100%;
		opacity: 0;
		z-index: 20;
		position: absolute;
		left: 0;
		top: auto;
		bottom: -10%;
		color: #fff;
		background-color: rgb(43, 20, 64, 0.92);
		padding: 15px 0;
		transition: all 0.4s ease-in-out;
		text-align: center;
		font-size: 15px;
	}

	.merchbox:hover .merchtext {
		opacity: 1;
		bottom: 0;
	}

	.merch_price {
		width: 285px;
		height: 50px;
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px 0;
	}

	.merch_price h6 {
		font-size: 19px;
		color: #000;
	}

	.merch_price h6:nth-of-type(2) {
		color: #666;
	}
}